<html>
<body>
	<div th:fragment="sasheader">
		<meta charset="UTF-8">
		<meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
		<!-- <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> -->
		<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
		<meta name="description" content="Section Automation System">
		<meta name="author" content="TSSPDCL">
		
		<link rel="stylesheet" th:href="@{css/font-awesome/font-awesome.css}" />
		<link rel="stylesheet" th:href="@{css/Ionicons/ionicons.css}" />
		<link rel="stylesheet" th:href="@{css/perfect-scrollbar/perfect-scrollbar.css}" />
		
		<!-- Favicon --> 
		<link rel="icon" type="image/x-icon" th:href="@{assets/img/favicon.ico}" />
		<!-- Title --> 
		<title th:text="#{app.title}">TGSPDCL-SAS</title> 
		<!-- Bootstrap css--> 
		<link rel="stylesheet" th:href="@{assets/css/bootstrap/bootstrap.min.css}" /> 
		<!-- Icons css--> 
		<link rel="stylesheet" th:href="@{assets/css/web-fonts/icons.css}" />
		<link rel="stylesheet" th:href="@{assets/css/web-fonts/font-awesome.min.css}" />
		<link rel="stylesheet" th:href="@{assets/css/web-fonts/plugin.css}" /> 
		<!-- Style css--> 
		<link rel="stylesheet" th:href="@{assets/css/style.css?v=1.12}" />
		<link rel="stylesheet" th:href="@{assets/css/plugins.css}" /> 
		<!-- INTERNAL Switcher css --> 
		<link rel="stylesheet" th:href="@{assets/switcher/switcher.css}" />
		<link rel="stylesheet" th:href="@{assets/switcher/demo.css}" /> 
		<meta http-equiv="imagetoolbar" content="no" />
		<style type="text/css">
		<!-- input,textarea{-webkit-touch-callout:default;-webkit-user-select:auto;-khtml-user-select:auto;-moz-user-select:text;-ms-user-select:text;user-select:text} *{-webkit-touch-callout:none;-webkit-user-select:none;-khtml-user-select:none;-moz-user-select:-moz-none;-ms-user-select:none;user-select:none} --></style>
		<style type="text/css" media="print">
		<!-- body{display:none} -->
		</style> 
		<!--[if gte IE 5]><frame></frame><![endif]-->
	</div>
</body>
</html>